################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SlidingWindow/bin
/SlidingWindow/obj
/SlidingWindow.Tests/bin
/SlidingWindow.Tests/obj
